**/node_modules
**/dist
**/coverage
**/.git
**/.gitignore
**/.env
**/.env.*
!**/.env.example
**/.DS_Store
**/.vscode
**/.idea
**/*.log
**/npm-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*
Dockerfile*
docker-compose*.yml
.dockerignore
README.md
docs/